<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick links</li>
    <%= tabs_tag :builder => MenuTabBuilder, :namespace => :subnav do |tab| %>
      <%= tab.clubs 'Manage Clubs', user_clubs_path(current_user) %>
      <%= tab.teams 'Manage Teams', user_teams_path(current_user) %>
      <%= tab.players 'Manage Players', players_path %>
    <% end %>
  </ul>
</div><!--/.well -->