<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick links</li>
    <%= tabs_tag :builder => MenuTabBuilder, :namespace => :subnav do |tab| %>
      <%= tab.clubs 'Manage Tournaments', user_tournaments_path(current_user) %>
      <%= tab.clubs 'Manage Organizations', user_organizations_path(current_user) %>
      <%= tab.clubs 'Manage Sponsors', user_sponsors_path(current_user) %>
    <% end %>
  </ul>
</div><!--/.well -->