<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick links</li>
    <%= tabs_tag :builder => MenuTabBuilder, :namespace => :subnav do |tab| %>
      <%= tab.tournaments 'Tournaments', "#" %>
    <% end %>
  </ul>
</div><!--/.well -->