/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require jquery-ui-1.10.2/themes/base/jquery-ui
 *= require jquery-ui-1.10.2/themes/base/jquery.ui.datepicker
 *= require_tree .
 *= require bootstrap-label
 *= require bootstrap_and_overrides
 *= require bootstrap-panel
 */

.form-group{
  margin-bottom: 10px;
}

.control-label{
  margin-right: 10px;
}

.dropped-50{
  margin-top:50px;
}

.field_with_errors {
  color: #FF0000;
}

.icon:before {
  content: none !important;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger h4 {
  color: #b94a48;
}

.roles{
  float: left;
  min-width: 120px;
}

.checkbox label span{
  vertical-align: middle;
}